* {
  font-family: "Metal mania";
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: url("../img/back.jpg");
  background-size: cover;
}

@font-face {
  font-family: "Metal mania";
  src: url("../fonts/MetalMania-Regular.ttf");
}

.rm-Title {
  color: #fff0f0;
  font-size: 81px;
}

.rm-Subtitle {
  color: #fff0f0;
  font-size: 49px;
}

.rm-Shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.rm-Content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.rm-Button {
  width: 200px;
  height: 90px;
  background: black;
  color: #fff0f0;
  border-radius: 20px;
  border: none;
  font-size: 49px;
}

@media screen and (max-width: 457px) {
  .rm-Title {
    font-size: 49px;
  }
  .rm-Subtitle {
    font-size: 28px;
  }
  .rm-Button {
    width: 100px;
    height: 45px;
    font-size: 28px;
    border-radius: 10px;
  }
}

.rm-LevelsList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.rm-LevelCard {
  width: 150px;
  height: 150px;
  background: #c4c4c4;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
